#card {
    margin: 0 auto;
    float: none;
    margin-top: 1rem;
    margin-bottom: 2%;
    text-align: center;
}

#btnSendEmail {
    float: none;
    text-align: right;
    margin-left: 1%;
}

.loginPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    float: none;
    width: 25%;
    text-align: center;
}

#butonLogin {
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    width: 100%;
    text-align: center;
}

#butonGuest {
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    width: 100%;
    text-align: center;
}

.listItem {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    border-color: gray;
    border-radius: 10px;
    padding: 0.25rem;
    padding-left: 15px;
    margin-bottom: 0.5rem;

}

.logout {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: black;
    opacity: 75%;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.logout:hover {
    opacity: 100%;
}

.emailText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.listGroup {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.descriereWebsite {
    text-align: left;
    font-size: large;
}

.noGuestsText {
    margin-right: 1%;
}

.guestsTexts {
    display: flex;
    justify-content: space-between;
}

.leftText {
    margin-left: 1%
}

.cardUpdates{
    margin-top: 1rem;
    margin-bottom: 2%;
    text-align: center;
    width: 100%;
}

#updateSubjectInput{
    margin-bottom: 2%;
}


#buttonPostUpdate{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}
.UpdateDiv{
    position: relative;
    display: block;
}
.DivCePlm{
    margin-bottom: 1%;
}

.guestsDiv{
    display: flexbox ;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    position: relative;
    width:100%;
}

.oneUpdateText{
    text-align: left;
}